<!DOCTYPE html5>
<html>
<head>
<meta charset="UTF-8">
<title>Voting in Virginia</title>
<style>
body{
	background-color: #000080;
	color: #FFFFFF;
}
</style>
</head>
<body>
	<center>
		<h1>Voting in the Commonwealth of Virginia</h1>
		<img src="va_flag.png" alt="VA Flag">
		<br><br>
		<span style="font-size:20">Please select the candidate you would like to vote for.</span>
		<br><br>
		<form action="">
		  <input type="radio" name="candidate" value="cand_1"> Candidate #1<br>
		  <input type="radio" name="candidate" value="cand_2"> Candidate #2<br>
		  <!-- <input type="submit" value="Submit"> -->
		</form>
		<button onclick="alert('Vote received!')">Cast Vote</button>
	</center>
</body>
</html>
