<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% extends "base.html" %}
{% load static %}
{% block content %}
<form id="form_successful">
	<p>
    <center>
		    <h1> YOUR VOTE WAS NOT RECORDED. </h1>
    </center>
  </p>
  <p>
    <center>
      <text type="text">It seems that you've voted earlier today. If you believe this is an error, please contact a poll worker to file a report.</text>
    </center>
  </p>
</form>
<footer>
  <!--<div type="button" class="div1">
      <a href="../registration_check">&#8592; Go Back</a>
  </div>-->
  <a href="../voter_login" class="btn btn-lg btn-danger" role="button" >&#8592; Back </a>
</footer>
{% endblock %}
