{% extends "control_panel.html" %}
{% if user.is_superuser %}
{% block content %}
<title>Election Creation</title>
{% if ok %}
<h1 class="center"> {{ success_msg }} </h1> </br>
{% else %}
<h1 class="center"> {{ error_msg }} </h1> </br>
{% endif %}
<h2 class="center"> Create an Election </h2> </br>
<form method="post" class="center">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Create</button>
</form>
{% endblock %}
{% else %}
<h2 class="center"> Access Denied </h2>
<p>You do not have permission to view this page.</p>
{% endif %}
