{% extends "control_panel.html" %}
{% load static %}
<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<!-- Bootstrap imports -->
{% block content %}
{% if user.is_superuser %}


<!--<img class = "img-responsive" src="{% static 'images/VADeptElectLogo.png' %}" alt="Logo" class="center"/>
-->

{% if selected %}
    <h1 class="center" id="blue"> {{ current_election }} </h1> </br>
{% elif not selected and not ok %}
    <h1 class="center" id="red"> An election is not selected </h1> </br>
{% endif %}
{% if ok %}
   <h1 class="center" id="green"> {{ success_msg }} </h1> </br>
{% endif %}
<h2 class="center"> Select an Election for the voters to vote on </h2> </br>
<form method="post" class="center">
{% csrf_token %}
{{ form.as_p }}
    <ul><p>Don't see the election you want to select? <a href="{% url 'create_election' %}">Add it here.</a></p></ul>
<button class = "btn btn-lg btn-danger" type="submit">Select</button>
</form>
{% else %}
<h2 class="center"> Access Denied </h2>
<p>You do not have permission to view this page.</p>
{% endif %}
{% endblock %}
