<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% extends "voting_base.html" %}

{% load static %}


{% block content %}
<h2 class="center"> Instructions </h2> </br>
<center><p>One question will appear per screen. To make your choice for each question, on the box next to an answer. Use the "Back" and "Next" arrows to navigate between questions.</p></center>
<br>
<center><p>Select "Yes" below and press the "Next" button to coninute.</p></center>
<br>
<center><label><input type="checkbox" name="yes"/>Yes</label></center><br>
<center><label><input type="checkbox" name="no"/>No</label>
<br></center>
<footer>

    <!--<div type="button" style="color: white; font-family: arial; font-size: 18px; font-weight: bold; padding: 8px 10px; background-color: rgb(204, 51, 51); border: 2px solid white; position:absolute; bottom:20; right:20">
        <a href="../instructions2">Next</a>
    </div>-->
    <a href="../instructions2" class="btn btn-lg btn-danger pull-right" role="button" >Next</a>
</footer>

{% endblock %}
