<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% extends "voting_base.html" %}

{% load static %}


{% block content %}
<h2 class="center"> Instructions </h2> </br>
<center><p class="mx-auto" style="width: 60%;">Use the navigation panel above each question to access previous questions. To exit the ballot, click "Logout" in the top right corner of the screen. If you log out, you will need to reenter all of your information in order to access your ballot again. After you have answered all questions, you will be asked to review your answers and submit your vote.</p></center>
<br>
<center><p>Click the "Next" button to continue!</p></center>
<br>
<br>

<footer>

<div class="container mx-auto" style="width: 60%">
<center>
<a href="../instructions1" class="spacer btn btn-lg btn-danger pull-left" role="button" padding= 10px >Back</a>

<form method="post" class="center">
  {% csrf_token %}
  <button class = "btn btn-lg btn-danger pull-right" type="submit" name="next">Next</button>
</form>

</center>
</div>

</footer>

{% endblock %}
