<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% extends "voting_base.html" %}

{% load static %}


{% block content %}
<h2 class="center"> Instructions </h2> </br>
<center><p>To cancel your vote, click "Cancel" in the top right corner of the screen. If you cancel your vote, you will need to go back to the check-in table to receive a new ballot. After you have answered all questions, you will be asked to review your answers and submit your vote.</p></center>
<br>
<center><p>Click the "Next" button to continue!</p></center>
<br>
<footer>
	<a href="../instructions1" class="btn btn-lg btn-danger" role="button" >Back</a>
	<a href="../overview" class="btn btn-lg btn-danger pull-right" role="button" >Next</a>

    <!--<div type="button" style="color: white; font-family: arial; font-size: 18px; font-weight: bold; padding: 8px 10px; background-color: rgb(204, 51, 51); border: 2px solid white; position:absolute; bottom:20; left:20">
        <a href="../instructions1">Back</a>
    </div>
    <div type="button" style="color: white; font-family: arial; font-size: 18px; font-weight: bold; padding: 8px 10px; background-color: rgb(204, 51, 51); border: 2px solid white; position:absolute; bottom:20; right:20">
        <a href="../overview">Next</a>
    </div>-->
</footer>

{% endblock %}
