<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% extends "base.html" %}

{% load static %}

{% block content %}
<h2 class="center"> Poll Worker Login</h2> </br>
<form method="post" class="center">
{% csrf_token %}
{{ form.as_p }}
<button class = "btn btn-lg btn-danger" type="submit">Login</button>
</form>

{% endblock %}
