<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% extends "base.html" %}
{% load static %}
{% block content %}
<h2 class="center"> Voter Registration Check </h2> </br>
<form method="post" class="center">
{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-lg btn-danger" onclick="clearFields()" type="submit">Submit</button>
</form>
{% endblock %}


<script>
    $(document).ready(function(){
        document.getElementById();
    });
</script>

<script>
$("#clear").click(function(){
    $(".center input[type='text']").val(""); 
});


</script>

<script type="text/javascript">
    $.ajax.....
     success: function() {
          $("#id_firstname").val('');
          $("#id_lastname").val('');
          $("#id_addr").val('');
     }
</script>

<script>


function setText(id,newvalue) {
  var s= document.getElementById(id);
  s.innerHTML = newvalue;

}    
window.onload=function() {
  /*setText("This-is-the-real-id","Hello there");*/
}
function clearFields(){
setText(id_firstname,"");
setText(id_lastname,"");
setText(id_addr,"");
}
</script>