{% extends "voting_base.html" %}

{% load static %}


{% block content %}
<h2 class="center" style="font-size:32px"> Thanks for voting! </h2> <br><br>
<center><p>Please see a poll-worker at the exit station if you would like to confirm your vote.</p></center>
<br><br>
<div type="button" style="color: white; font-family: arial; font-size: 18px; font-weight: bold; padding: 8px 10px; background-color: rgb(204, 51, 51); border: 2px solid white; position:absolute; left:50%">
        <a href="../voter_login">DONE</a>
</div>


{% endblock %}
