<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% include "base_cancelled.html" %}
{% load static %}
{% block content %}
<div class= "well">
    {% include "control_panel_vote.html" with positions=positions navbar_positions=navbar_positions %}
<form method="post" class="center">
{% csrf_token %}
{{ form.as_p }}
    {% if first and not last %}
        <button class = "btn btn-lg btn-danger pull-right btn-space" type="submit" name="next">Next</button>
    {% else %}
        {% if first and last %}
            <button class = "btn btn-lg btn-danger pull-right btn-space" type="submit" name="submit">Submit</button>
        {% elif not last %}
            <button class = "btn btn-lg btn-danger pull-left btn-space"  type="submit" name="previous">Previous</button>
            <button class = "btn btn-lg btn-danger pull-right btn-space" type="submit" name="next">Next</button>
        {% else %}
            <button class = "btn btn-lg btn-danger pull-left btn-space" type="submit" name="previous">Previous</button>
            <button class = "btn btn-lg btn-danger pull-right btn-space" type="submit" name="submit">Submit</button>
        {% endif %}
    {% endif %}

<a href="../instructions2" class="btn btn-lg btn-danger pull-left btn-space" role="button" >Back to Instructions</a>
</form>
{% endblock %}
</div>
