<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% extends "base.html" %}
{% load static %}
{% block content %}
<form id="form_successful">
	<p>
    <center>
		    <h1> THIS VOTER IS NOT ELIGIBLE TO VOTE. </h1>
    </center>
  </p>
  <p>
    <center>
      <text type="text">This voter may be ineligible due to (1) being an inactive voter, (2) attempting to vote in the wrong precinct, or (3) not being a registered voter. To register to vote in the next election, refer the voter to the following site:
      https://vote.elections.virginia.gov/Registration/Eligibility .</text>
    </center>
  </p>
</form>
<footer>
  <!--<div type="button" class="div1">
      <a href="../registration_check">&#8592; Go Back</a>
  </div>-->
  <a href="../registration_check" class="btn btn-lg btn-danger" role="button" > Go Back</a>
</footer>
{% endblock %}
