{% extends "base.html" %}
{% load static %}
{% block content %}
<form id="form_successful">
	<p>
    <center>
		    <h1> THIS VOTER IS NOT REGISTERED TO VOTE. </h1>
    </center>
  </p>
  <p>
    <center>
      <text type="text">This voter may not be registered to vote in this location, or may not be registered at all. To register, visit
      https://vote.elections.virginia.gov/Registration/Eligibility.</text>
    </center>
  </p>
</form>
<footer>
  <div type="button" style="color: white; font-family: arial; font-size: 18px; font-weight: bold; padding: 8px 10px; background-color: rgb(204, 51, 51); border: 2px solid white; position:absolute; bottom:20; left:20">
      <a href="../registration_check">&#8592; Go Back</a>
  </div>
</footer>
{% endblock %}
