<!-- Bootstrap imports -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Bootstrap imports -->

{% extends "voting_base.html" %}

{% load static %}

{% block content %}
<h2 class="center" style="font-size:32px"> You have cancelled your ballot </h2> <br><br>
<center><p>Your vote was not recorded. Please see a poll-worker if this was a mistake</p></center>
<br><br>
<!--<div type="button" style="color: white; font-family: arial; font-size: 18px; font-weight: bold; padding: 8px 10px; background-color: rgb(204, 51, 51); border: 2px solid white; position:absolute; left:50%">
        <a href="../voter_login">DONE</a>
</div>-->

<a href="../voter_login" class="btn btn-danger pull-right" role="button" >OK</a></div>


{% endblock %}
