{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

{% if user.is_authenticated %}
<div type="button" style="color: white; font-family: arial; font-size: 18px; font-weight: bold; padding: 8px 10px; background-color: rgb(204, 51, 51); border: 2px solid white; position:absolute; top:20; right:20;">
    <a href="../voter_login">Cancel</a>
</div>
<footer>
    <div type="button" align="center" style="color: white; font-family: arial; font-size: 18px; font-weight: bold; padding: 8px 10px; background-color: rgb(204, 51, 51); border: 2px solid white; width:75px; position:absolute; left:50%; bottom:20">
        <a href="../overview">Overview</a>
    </div>
</footer>
{% endif %}


<center>
  <img src="{% static 'images/VADeptElectLogo.png' %}" alt="Logo"/>
</center>

{% block content %}{% endblock %}
